* {
    margin: 0;
    padding: 0;
}
body {
    background: #ddd;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    
}

/* audio */
button {
    position: fixed;
    top: 30;
    right: 30px;
    z-index: 2;
    padding: 3px;
    background: white;
    border-radius: 6px;
}
/* depan */
.depan {
    background-image: url(media/masjid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.foto img {
    background-color: red;
    padding: 5px;
    border-radius: 50%;
}
.foto h1{
    font-family: "Festive", cursive;
    color: #0081a8;
    font-size: 1.5em;
    margin-top: 10px;
    background-color: white;
}
.foto h4 {
    margin-top: 10px;
    font-family: "Akaya Kanadaka", system-ui;
    color: #0081a8;
    font-size: 1em;
    background-color: white;
}

/* isi */
.isi {
    background-image: url(media/rose.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 10px;
    font-family: "Akaya Kanadaka", system-ui;
    padding: 40px;
}
.isi h3 {
    color: red;
    margin: 30px;
}
.isi img {
    width: 80px;
}
.pada {
    display: grid;
    grid-template-areas: 
    'tgl waktu'
    'tempat tempat'
    ;
}
.tgl {
    grid-area: tgl;
}
.waktu {
    grid-area: waktu;
}
.tempat {
    grid-area: tempat;
}
.tempat a {
    color: red;
}
.tempat a:hover {
    color: green;
}
.isi h2 {
    color: red;
    font-size: 1.2em;
}

/* gift */
.gift {
    display: grid;
    place-items: center;
    background-image: url(media/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin-top: 10px;
}
.gift h3 {
    color: red;
}

/* tampiln */
@media (max-width : 500px) {
    .pada {
        grid-template-areas: 'tgl tgl' 'waktu waktu' 'tempat tempat';
    }

    .isi {
        padding: 20px;
    }

    .isi img {
        width: 40px;
    }
}
